#top {
	display: inline-flex;
}

#balance {
	background: grey;
	width: 100px;
	height: 100px;
	text-align: center;
	color: white;
}

#report {
	background: black;
	width: 100px;
	height: 100px;
	text-align: center;
	color: white;
}

#MAGICAL-NUMBER {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 150px;
}
#roulette-table {
	float: right;
	height: 240px;
	background: green;
}

#first-row {
	display: flex;
	justify-content: flex-end;
}

#second-row {
	display: flex;
	justify-content: flex-end;
}

#third-row {
	display: flex;
	justify-content: flex-end;
}

.zero {
	background: green;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid grey;
	color: white;
}

.even {
	background: red;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid green;
	color: white;
}

.odd {
	background: black;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid green;
	color: white;
}










/*.chips {
	display: flex;
	justify-content: center;
}
.chip-value {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 50px;
	height: 50px;
	text-align: center;
	margin: auto;
}


.ui-draggable {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: auto;
}
*/