body {
	background: green;
}

#balance {
	width: 100px;
	height: 30px;
	text-align: center;
	color: white;
}

.title-game {
	height: 300px;
	display: flex;
	justify-content: center;
	background-image: url('http://www.intepo.com/images/intepo.com-logo.png');
	background-repeat: no-repeat;
	background-position: center;
}

.roulette-buttons {
	display: inline-flex;
	width: 100%;
	justify-content:  space-between;
}


.roulette-game {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	float: right;
}

#report {
	width: 200px;
	height: 200px;
	text-align: center;
	color: white;
	word-wrap: break-word;
}

#MAGICAL-NUMBER {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 150px;
}

#instructions {
	width: 30%;
	font-size: 10px;
	color: white;
}

#roulette-table {
	float: right;
	height: 240px;
	background: green;
}

#first-row {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
}

#second-row {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
}

#third-row {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 100%;
}

.zero {
	background: green;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid grey;
	color: white;
}

.even {
	background: red;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid green;
	color: white;
}

.odd {
	background: black;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 2px solid green;
	color: white;
}










/*.chips {
	display: flex;
	justify-content: center;
}
.chip-value {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 50px;
	height: 50px;
	text-align: center;
	margin: auto;
}


.ui-draggable {
	background: black;
	border: 3px solid grey;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: auto;
}
*/